body {
  font-family: "Titillium Web", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-weight: 300;
}
nav {
  background-color: #000000;
  color: #fff;
  padding: 0.1rem;
  top: 0;
  text-align: center;

  max-width: 25vw;
  border: 0;
}
nav .container {
  border: 0;
}

/*     nav  .filler {
            border: 0;
            width: 20%;
        }
 */
#intro {
  background-image: url("./assets/David-flipped.gif");
  max-width: 100vw;
  /*      margin: 0 auto; */
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0 5rem 0;
  height: 30rem;
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  background-color: #000;
}

#intro p {
  margin: 0;
  filter: blur(5px);
  transform: translateY(-20px);
  animation: fadeInAnimation 0.8s ease-out forwards;
}

@keyframes fadeInAnimation {
  from {
    filter: blur(50px);
    transform: translateY(-20px);
  }
  to {
    filter: blur(0);
    transform: translateY(0);
  }
}

#intro #reconocer {
  font-size: 3rem;
}

#justification {
  padding: 3rem;
  margin: 0 auto 5rem auto;
  font-weight: 500;
  font-size: large;
  max-width: 40vw;
  background-color: #fffffff7;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
#justification #question {
  font-weight: 600;
  font-size: larger;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

div#all-models {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.model-container {
  width: 80%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fbfbfb;
  border-radius: 0.5rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.model-container p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}
.models {
  width: 100%;
  height: 500px;
  background-color: #000000;
  border-radius: 0.5rem;
}
.model-description {
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
}

#model-container-1 {
  margin-top: 2rem;
}

footer {
  padding: 1rem;
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer div.icon-container {

  margin-right: 7rem;


}
.social-icons {
  width: 2rem;
  height: 2rem;
  margin-right: .75rem;
}

@media (max-width: 1200px) {

.model-container {
  width: 80vw;
}
}

@media (max-width: 1000px) {
  /* … */
  #justification {
  padding: 2rem;
  margin: 0 auto 5rem auto;
  font-weight: 500;
  font-size:medium;
  max-width: 60vw;
  background-color: #fffffff7;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
#justification #question {
  font-weight: 600;
  font-size: large;
  line-height: 1.4rem;
}
.model-container {
  width: 80vw;
}
    
}

@media (max-width: 800px) {
  /* … */
   nav {
   max-width: 100vw;
  }
  .container#justification {
  padding: 2rem;
  margin: 0 auto 5rem auto;
  font-weight: 500;
  font-size:medium;
  max-width: 60vw;
  background-color: #fffffff7;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
#justification #question {
  font-weight: 600;
  font-size: large;
  line-height: 1.4rem;
}

#justification #text {
    line-height: 1.3rem;
}
   
.model-container {
  width: 60vw;
}
}

@media (max-width: 580px) {
  /* … */
  nav {
    max-width: 100vw;
  }
  .container#justification {
  padding: 2rem;
  margin: 0 auto 5rem auto;
  font-weight: 500;
  font-size:medium;
  max-width: 80vw;
  background-color: #fffffff7;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
#justification #question {
  font-weight: 600;
  font-size: large;
  line-height: 1.4rem;
}

#justification #text {
    line-height: 1.3rem;
}
.models {
  height: 200px;
}
}

@media (max-width: 380px) {
  /* … */
  .container#justification {
  padding: 2rem;
  margin: 0 auto 5rem auto;
  font-weight: 500;
  font-size:medium;
  max-width: 90vw;
  background-color: #fffffff7;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  
}
#justification #question {
  font-weight: 600;
  font-size: large;
  line-height: 1.4rem;
}

#justification #text {
    line-height: 1.3rem;
}
    
.models {
    height: 300px;
}

nav {

  padding: 1rem;
  position: relative;
  top: 0;
  text-align: center;
    margin-bottom: 0;
  max-width: 100vw;
  border: 0;
}

#intro {
    margin: 5rem auto;
    font-size: 2rem;
}

#intro #reconocer {
  font-size: 2rem;
  margin-top: 1rem;
}
  .more-button {
    cursor: pointer;
    color: blue;
  }
}